{% extends 'commonbase.html' %}
{% block content %}


<html>
    <body>
        <table>
        <tr>
            <th>ORDER NO</th>
            <th>NAME</th>
            <th>ADDRESS</th>
            <th>PHONE NUMBER</th>
        </tr>
        {% for v in or %}
        <tr>
            <td>{{v.id}}</td>
            <td>{{v.customer_name}}</td>
            <td>{{v.Address}}</td>
            <td>{{v.Phonenumber}}</td>
            <td><li><a href="{% url 'details' v.id %}">DETAILS</a></li></td>
        </tr>
        {% endfor %}
        </table>
    </body>
</html>
{% endblock %}